@import "../bootstrap-5.0.2/scss/functions";
@import "../bootstrap-5.0.2/scss/variables";
@import "../bootstrap-5.0.2/scss/mixins";
@import "./colors.scss";
$z-tooltip:10;
$z-fixed:100;
$z-modal:1000;

$font-family-sans-serif: "Glory";
$font-family-base: "Glory", sans-serif;
// Main color
$primary: $RosaB3;
$success: rgba(187, 239, 232, 0.8);
$warning: #932C71;
$danger: rgba(163, 0, 0, 0.8);
$info: yellow;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  position: fixed;
  // bottom: 0;
  // left: 0;
  background-color: $RosaB3;
}



@import "../bootstrap-5.0.2/scss/bootstrap";

